.sidebar-console{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
    background: white;
    z-index: 1;
    border-right: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgb(34, 36, 38);
    .sidebar-console-title{
        display: inline-block;
        font-weight: 600;
        font-size: 24px;
        margin-top: 20px;
    }
}