.html-page {
  min-height: 770px;
  z-index: 1;
  background-color: white;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgb(34, 36, 38);
  border-radius: 5px;
  position: absolute;
  width: 899px;
  top: 20px;
  white-space: pre-wrap;
}
